page-home {
    
    .bg-image{
        background-image: url('../../assets/imgs/train-bg.jpg');
        background-repeat: no-repeat;
    
        background-position: center;
        background-size: cover;
    }

    .submitButton {
        margin-top: 2em;
        
        margin-right: 3em;
    }

}
